@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.no-scroll {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  color: #212121;
  cursor: default;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo span {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}
.header__logo {
  display: inherit;
  color: #000000;
  width: 145px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.nav__list,
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.nav__link {
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  cursor: pointer;
}
.nav__item {
  position: relative;
}
.nav__item--current::after {
  display: flex;
  position: absolute;
  margin-top: 28px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.nav__item--current .nav__link {
  color: #2196f3;
}

.contact {
  display: none;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email, .contact__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__email:hover, .contact__email:focus, .contact__tel:hover, .contact__tel:focus {
  color: #2196f3;
  cursor: pointer;
}

.contact__email:hover .contact__icon,
.contact__email:focus .contact__icon {
  fill: #2196f3;
}

.contact__tel:hover .contact__icon,
.contact__tel:focus .contact__icon {
  fill: #2196f3;
}

.social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.social__icon--white {
  fill: #ffffff;
}

.social__footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__footer:hover, .social__footer:focus {
  background-color: #2196f3;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.menu-open-button {
  position: absolute;
  top: 0;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open-button {
    display: none;
  }
}
.menu-open-button__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-button:hover {
  cursor: pointer;
}
.menu-open-button:hover .menu-open-button__icon, .menu-open-button:focus .menu-open-button__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button {
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
}

.subscription-button {
  display: inherit;
  padding: 10px 28px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription-button__text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.subscription-button__icon {
  fill: #ffffff;
}

.order-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  padding-left: auto;
  padding-right: auto;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .order-button {
    width: 216px;
  }
}
.order-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sort-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 15px;
  justify-content: start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .sort-buttons {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .sort-buttons {
    margin-bottom: 50px;
  }
}
.sort-buttons__sort-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition-property: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sort-buttons__sort-btn:hover, .sort-buttons__sort-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.studio-section {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .studio-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/hero_bg480w2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .studio-section {
    width: 480px;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .studio-section {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/hero_bg768w.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .studio-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/hero_bg768w2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .studio-section {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/hero_bg1200w.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .studio-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/studio/hero_bg1200w2x.jpg);
  }
}
.studio-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .studio-section__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .studio-section__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.studio-section__title,
.order-button {
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section__container {
  text-align: center;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .features__item {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__img-container {
  display: flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__name,
.features__text {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.features__name {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  line-height: 1.71;
  color: #757575;
}

.work {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__item {
  position: relative;
  display: flex;
  flex-basis: calc((100% - 60px) / 3);
}
.work__name {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.staff {
  background: #f5f4fa;
}
.staff__item {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .staff__item {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .staff__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .staff__item {
    width: calc((100% - 90px) / 4);
  }
}
.staff__name, .staff__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.staff__description {
  padding-top: 30px;
  text-align: center;
  margin-bottom: 16px;
}
.staff__name {
  font-weight: 500;
  margin-bottom: 10px;
}
.staff__position {
  color: #757575;
}
.staff__soc-container {
  padding-bottom: 24px;
}
.staff__link {
  background-color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.staff__link:hover, .staff__link:focus {
  background-color: #2196f3;
}
.staff__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.staff__link:hover .staff__icon,
.staff__link:focus .staff__icon {
  fill: #ffffff;
}

.clients__list {
  justify-content: center;
}
.clients__item {
  width: calc((100% - 30px) / 2);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients__item:hover {
  cursor: pointer;
}
.clients__item:focus-within {
  border-color: #2196f3;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border-color: #2196f3;
}
.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover .clients__icon {
  fill: #2196f3;
}

.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  background: #ffffff;
  width: 100%;
  height: 404px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .project-card {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .project-card {
    width: calc((100% - 30px) / 2);
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .project-card {
    width: calc((100% - 60px) / 3);
  }
}
.project-card__wrap {
  position: relative;
  overflow: hidden;
}
.project-card__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .project-card__text {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .project-card__text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .project-card__text {
    padding: 63px 24px;
  }
}
.project-card__description {
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-card__description {
    padding: 20px 24px 56px 24px;
  }
}
.project-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}
.project-card__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card:hover .project-card__text {
  transform: translateY(0%);
}

.footer {
  background: #2f303a;
  padding-top: 60px;
}
.footer__logo {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer.footer-contact-item {
  margin-bottom: 9px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
    flex-direction: initial;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    flex-wrap: nowrap;
    text-align: start;
  }
}
.footer__address-container {
  width: inherit;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__address-container {
    padding-left: 76px;
    margin-right: 165px;
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address-container {
    margin-right: 70px;
    padding-left: 0px;
    width: inherit;
  }
}
.footer__soc-container {
  width: inherit;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__soc-container {
    width: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__soc-container {
    margin-right: 93px;
    padding-top: 12px;
  }
}
.footer__soс-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-address,
.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-address {
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-address:hover, .contact-address:focus {
  color: #2196f3;
}

.footer-email,
.footer-tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email:hover,
.footer-email:focus {
  color: #2196f3;
}

.footer-tel:hover,
.footer-tel:focus {
  color: #2196f3;
}

.subscription {
  width: inherit;
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-right: 0;
    margin-left: auto;
  }
}
.subscription__container {
  padding-top: 12px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription__container {
    text-align: left;
  }
}
.subscription__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscription__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscription__wrap {
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
    align-items: flex-start;
  }
}
.subscription__input {
  padding-left: 16px;
  display: inherit;
  margin-bottom: 20px;
  width: calc(100% - 30px);
  height: 50px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}
@media screen and (min-width: 480px) {
  .subscription__input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__input:hover {
  cursor: pointer;
}
.subscription__input:focus {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: calc(100% - 30px);
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

/* ----------------------FORM---------------------- */
.order-form__input-field {
  position: relative;
  margin-bottom: 10px;
}

.order-form__input-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.order-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:hover {
  cursor: pointer;
}

.order-form__input:focus,
.order-form__comment-field:focus {
  border-color: #2196f3;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__input-field:focus-within .order-form__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__comment-field {
  padding: 12px 16px;
  width: 100%;
  resize: none;
  outline: none;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}
.policy__input {
  margin-right: 8px;
}
.policy__text {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  color: #757575;
}
.policy__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon {
  fill: transparent;
}

.policy__input:checked + .policy__text .checkbox {
  background-color: #2196f3;
  border: #2196f3;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__input:checked + .policy__text .checkbox__icon {
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-wrap {
  text-align: center;
}

/* ----------------------SENT BUTTON---------------------- */
.sent-form-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: none;
}
.sent-form-btn:hover {
  cursor: pointer;
}
.sent-form-btn:hover, .sent-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------------------CLOSE BUTTON---------------------- */
.close-modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.close-modal-btn:hover {
  cursor: pointer;
}

.close-modal-btn:hover .close-modal-btn__icon,
.close-modal-btn:focus .close-modal-btn__icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
}
.menu-close-button:hover, .menu-close-button:focus {
  cursor: pointer;
  fill: #2196f3;
}

.mob-menu-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 48px;
}

.mob-menu-nav__item {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu-nav__link {
  color: #212121;
}
.mob-menu-nav__link--current {
  color: #2196f3;
}

.mob-menu-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu-contact__email {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .mob-menu-contact__email {
    font-size: 24px;
  }
}

.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mob-menu-contact__tel {
    font-size: 34px;
    line-height: 1.17;
  }
}

.mob-menu-soc {
  display: flex;
  gap: 10px;
}
.mob-menu-soc__item:not(:last-child):after {
  content: "";
  margin-left: 10px;
  width: 22px;
  height: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu-soc__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
@media screen and (min-width: 480px) {
  .mob-menu-soc__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
  }
}/*# sourceMappingURL=main.css.map */