.section {
	display: flex;
	justify-content: center;
	padding: 60px 0;

	@include desktop {
		padding: 94px 0;
	}
	&__container{
		text-align: center;
	}
	&__title {
		font-weight: 700;
		font-size: 28px;
		line-height: 1.18;
		letter-spacing: $standard-letter-spacing;
		margin-bottom: 30px;
		@include desktop {
		font-size: 36px;
		line-height: 1.17;
		margin-bottom: 50px;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		align-items: center;
		justify-content	: center;
	}
}