.subscription{
	width: inherit;
	@include desktop {
		// width:100%;
		margin-right: 0;
		margin-left: auto;
	}
	&__container {
	padding-top: 12px;
	padding-bottom: 60px;
	@include desktop{
	text-align: left;}

}
	&__title{
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: $standard-letter-spacing;
	text-transform: uppercase;
	color: $default-text-color-inverted;
	}
	&__wrap{
		display: flex;
flex-direction: column;
align-items: center;
@include desktop {
	flex-direction: row;
	column-gap: 12px;
	align-items: flex-start;
}
	}
	&__input {
	padding-left: 16px;
	display: inherit;
	margin-bottom: 20px;
	width: calc(100% - 30px);
	height: 50px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	outline: none;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: $standard-letter-spacing;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: #2F303A;
@include mobile {
	max-width: 450px;
}
@include desktop {
	width: 358px;
}
		&:hover{
		cursor: pointer;
	}
		&:focus{
		border-color: $action-color;
		transition-property: border-color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}
}