.section__container{
	text-align: center;
}
.section__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: $standard-letter-spacing;
	margin-bottom: 50px;
}
.section__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	align-items: center;
	justify-content	: center;
}